<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spotifyautoskipper">

    <application
        android:allowBackup="true"
        android:label="Spotify Auto Skipper"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- OAuth Redirect -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="spotifyautoskipper" android:host="callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>